.home-carousel {
    background: url('../img/matt-palmer-nzXKKye9Qbk-unsplash.jpg') center center repeat;
  }

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
